@import "tailwindcss";

@source "../../src/";
@source "../../node_modules/local-components/";

@plugin "local-components/tw";

@plugin '@tailwindcss/typography';
@plugin "@toolwind/corner-shape";


@theme inline {
  --list-bullet: "⁃ ";
  --font-sans: var(--font-victor-mono);
  --font-mono: var(--font-ibm-plex-mono);
  --thickness: 4px;
}

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hover (&:hover);

html {
  scrollbar-gutter: stable;
}

.backdrop {
  position: absolute;
  inset: 0;
  /*
    These prefixed properties are usually
    added automatically by tooling:
  */
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 95%),
    transparent 50%
  );
  pointer-events: none;

  height: 200%;
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0% 50%,
    transparent 50% 100%
  );
  mask-image: linear-gradient(
    to bottom,
    black 0% 50%,
    transparent 50% 100%
  );
}

.dark .backdrop {
  background: linear-gradient(
    to bottom,
    hsl(0deg 0% 10%),
    transparent 50%
  );
}

.backdrop-edge {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--thickness);
  background: hsl(0deg 0% 100% / 0.1);
  -webkit-backdrop-filter: blur(12px) brightness(0.96);
  backdrop-filter: blur(12px) brightness(0.96);
  transform: translateY(100%);
  pointer-events: none;
  height: 100%;
  inset: 0;
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--thickness),
    transparent var(--thickness)
  );
  mask-image: linear-gradient(
    to bottom,
    black 0,
    black var(--thickness),
    transparent var(--thickness)
  );
}

.dark [data-slot="switch-thumb"][data-state="checked"] {
  background-color: var(--primary-foreground);
}

.dark [data-slot="switch-thumb"][data-state="unchecked"] {
  background-color: var(--primary-foreground);
}