doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    title DK
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(content="white", name="apple-mobile-web-app-status-bar-style")
    meta(content="Diego -DK- Paez", property="og:title")
    meta(content="Developer, HCI researcher, Usability consultant, I like to write and I like to mix.", property="og:description")
    meta(content="website", property="og:type")
    meta(content="http://dpaez.github.io", property="og:url")
    link(rel='stylesheet', href='css/normalize.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/style.css')
    //- link(rel='stylesheet' href='public/vendor/typicons/src/font/typicons.min.css')

    body
      div.wrap
        article.full#landing
          canvas#intro

          div.title
            h1
              |d
              span.none
              |k
            p ( d e k á )

            div.kan1
            div.none
            div.kan1
            div.kan2
            div.kan1
            div.none
            div.kan1

          nav.sections-links.total-center
            .section-link
              a(href="#projects")#projectsLink
                span PROJECTS
            .section-link
              a(href="#bio")#bioLink
                span BIO
            .section-link
              a(href="#contact")#contactLink
                span CONTACT

        article#projects
          h2 Projects
          .logo
            |d
            span.none
            |k

          section.items
            ul
              li
                h3 Plusultra
                p A message gateway for multi-modal web apps. Part of my thesis work.
                p
                  a(href="https://github.com/dpaez/plusultra", target="_blank") [Link]
              li
                h3 Gyes
                p Plusultra client. Handles real-time multimodality interaction on web applications.
                p
                  a(href="https://github.com/dpaez/gyes", target="_blank") [Link]
              li
                h3 Pluma
                p A simple platform for hardware sketching. Part of an ongoing research.
                p
                  a(href="https://github.com/dpaez/pluma", target="_blank") [Link]
              li
                h3 La Plata JS
                p I'm involved into the development of a <a href="http://es.wikipedia.org/wiki/La_Plata", target="_blank">local</a> JS community, with a strong focus on people first. Currently, we have a meetup once a month.
                p
                  a(href="https://github.com/laplatajs", target="_blank") [Link]
                  a(href="http://laplatajs.github.io/", target="_blank") [Link]
              li
                h3 Freelance
                p I've been involved in different freelance projects in the past. Sometimes as an entrepreneur and other times working on startups and I'm always looking forward for new and bigger challenges.
                p
                  a(href="#contact") Contact Me!


        article#bio
          h2 Bio
          .logo
            |d
            span.none
            |k

          section
            h3 Hi, I'm Diego Ignacio Paez
            p ...but you can call me
              em  dk
              |  (sounds like: "deká").
            p I was born in <a href="http://en.wikipedia.org/wiki/Tierra_del_Fuego_Province,_Argentina" target="_blank">Tierra del Fuego</a>
              |  (-53.8/-67.6), the southern place in the American continent.
              | It is a really cool place and I also found it quite misterious. And that is another thing about me, I have a "big/active" imagination.
            p I think that is one of the things that pushes me forward to found alternative solutions to problems.
              | That is another thing! I really like to solve problems in a variety of contexts. One of these contexts is academic.
            p I am about to get my degree on Computer Science at <a href="http://www.info.unlp.edu.ar/" target="_blank">(INFO-UNLP)</a>, I'm working on my thesis (final stage), which is about multimodal web applications.
              | The whole subject falls inside the HCI (Human Computer Interaction) field. Which is where I hope to keep looking (& founding?) more solutions.
            p Another context is outside collegue. I can be hired as a consultant. Between the things I can do, you can find: web apps development (mobile, desktop, hybrid), general <strong>JavaScript</strong> work (outside browser) and (web) <a href="http://laplatajs.github.io/usabilidad_js/" target="_blank">usability</a> improvements.
            p This is only the <em>big picture</em> of course, if you need to know more, go ahead and move to the next section.

        article#contact.full
          h2 Contact
          .logo
            |d
            span.none
            |k

          section.items
            ul
              li
                p I'm looking forward for adventures and challenges. Contact me if you think I'm the one for your project.
                p
                  script(type="text/javascript").
                    //<![CDATA[
                    <!--
                    var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i==72)y+=" +
                    "i;y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\".<$(8" +
                    "$!!p7z+}. 6*y3w3`|}L\\016\\016^\\034K\\n\\002\\006\\016\\036\\003@\\001S\\0" +
                    "00\\034J\\005\\033\\035\\031\\023_\\000W\\031\\023\\035\\017=oegBp-j(9:#*18" +
                    "<&k-(\\\"'%ub\\030Z\\016HY\\t]\\032\\013\\010\\036\\010\\004E\\013F\\013\\0" +
                    "14\\017\\025\\033\\007^\\036E\\025WJG\\024@=19j)(/|g\\\"7s\\\"nfnbPf;}<-jj|" +
                    "nnns>p\\016RWAWQT\\017\\030\\005EG\\005\\026SI\\030\\023\\033\\000\\002\\03" +
                    "1j\\025\\\\W\\\\NEY\\006H+{~vrvv\\033\\024%9\\177}}\\022\\0231zr?sv~r\\004{" +
                    "\\006\\007:wn<I=@?8L5\\0327I,\\\\_]23ECB/(AGG$%LHL!\\\"212_XPP(?::WP;=?LM!!" +
                    "$IJV*)*G@)./|}P\\177x\\023\\026\\027tuXwp\\004\\037\\037\\000mn\\000\\004\\" +
                    "005jkp\\016\\t\\013`a\\017\\017p\\035\\036qtu\\032\\033z{z\\027\\020\\026y~" +
                    "`\\r\\016xfaka ljk\\000\\001;nSF^\\020W\\010\\024\\000HHCTOVQ\\006BZS]C)T+$" +
                    "V!'^U\\030}:m#jwssm{w0%$%$i9L:}=bV}}uXn|v|\\016Y\\nF@JeUIAiFC_H\\001W_[A@f\\"+
                    "013\\034W\\002\\r\\t\\r\\000\\033F{(\\177h=luqut#c*$5f{z;h8i?lhd3s.28d\\010" +
                    "\\025\\005\\r\\001\\tH\\037U\\005F7N1LR\\037]\\033S\\006\\024\\000\\014Q\\0" +
                    "00V\\003T\\033^nnkwgksa* \",72)"                                             ;
                    while(x=eval(x));
                    //-->
                    //]]>
              li
                p You can follow me on twitter, I tend to RT a lot of -useful- links and share some music.
                p
                  a(href="https://twitter.com/carax", target="_blank") Twitter
              li
                p I like to write short stories, if you dig you will find them.
                p
                  a(href="http://sincaminos.tumblr.com/", target="_blank") Tumblr

          footer
            © 2014 Diego "DK" Paez

      script(src="js/src/animationFrameShim.js")
      script(src="js/src/canvasFull.js")
      script(src="js/src/scrollerX.js")
      script(src="js/main.js")
